.content {
    padding-top: 100px;
    text-align: center;
}

p.address {
    display: inline-block;
    margin: 0;
}

input.text_address,
input.button_address {
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
}

input.text_address {
    padding: 8px;
    width: 500px;
}

input.button_address {
    appearance:none;
    -webkit-appearance:none;
    padding: 10px;
    border: none;
    background: #3F51B5;
    color: #FFF;
    width: 120px;
}

input.button_address:hover {
    background: #E27715;
    cursor: pointer;
}

.footer {
    position: absolute;
}